
nav { 
    position: fixed;
    font-size: 20px;
    margin-bottom: 30px;
}

 .row { 
     margin: 30px;
 }


.myNameHeading { 
    position: absolute;
    top: 50%;
    left: 5%;
    color: white;
    font-size: 140px; 
    text-shadow: 3px 3px 3px darkgrey;
    font-family: 'Playfair Display', serif;
}

.fixed-bottom { 
    margin: 0;
}
