
nav { 
    position: fixed;
    font-size: 20px;
    margin-bottom: 30px;
}

 .row { 
     margin: 30px;
 }


.myNameHeading { 
    position: absolute;
    top: 50%;
    left: 5%;
    color: white;
    font-size: 140px; 
    text-shadow: 3px 3px 3px darkgrey;
    font-family: 'Playfair Display', serif;
}

.fixed-bottom { 
    margin: 0;
}

#containerportfolio {
    background-color:#f8f9fa;
    padding-top: 30px;
    border: solid 1px rgba(0,0,0,.125);
}

a:hover { 
    opacity: 0.5;
}

.copyright:hover {
    opacity: 1;
}